@model Pagina_Web.Models.Persona
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{

<div class="container">
    <div class="page-header">
        <h1 class="all-tittles">Bienvenidos <small> a LectuGo</small></h1>
    </div>
</div>

<div></div>

}